<div class="declaration-wrapper w-75 text-justify">
  <h1>Incremental Compilation Workloads - ENGR489 Project</h1>
  <h3>Information for Participants</h3>

  <p id="participant-info">
    You are invited to take part in this research.
    Please read this information before deciding whether or not to take part.
    If you decide to participate, thank you.
    If you decide not to participate, thank you for considering this request.
  </p>

  <h4>Who am I?</h4>
  <p id="who-am-i">
    My name is Philip Oliver and I am an ENGR489 Honours student in Software Engineering Victoria University of Wellington.
    This research project is work towards my Honours report.
  </p>

  <h4>What is the Aim of this Project?</h4>
  <p id="project-aim">
    This project aims to generate some realistic compilation workloads and to explore how these workloads affect the compiler.
    Your participation will support this research by providing valuable insight into compilation sessions which will aid compiler
    design, in particular for incremental compilers.
    This research has been approved by the Victoria University of Wellington Human Ethics Committee #0000028477.
  </p>

  <h4>How Can You Help?</h4>
  <p id="how-you-can-help">
    You have been invited to participate because you have experience programming in the Java programming language.
    If you agree to take part, you will complete a short survey followed by a series of programming exercises to be completed using a simple online IDE.
    The survey will ask you questions about your programming experience and then ask you to complete some programming challenges.
    The survey will take you approximately 30-45 minutes to complete.
    During your completion of the programming challenges you may be asked to share your screen on Zoom.
    This will be done so we can identify any issues with the application while you are participating.
    No audio or video will be recorded over Zoom.
    A voucher worth $10 will be offered to participants.
  </p>

  <h4>What Happens to the Information You Give</h4>
  <p id="information-retention">
    This research is anonymous.
    This means that nobody, including the researchers will be aware of your identity.
    By answering it, you are giving consent for us to use your responses in this research.
    Your answers will remain completely anonymous and unidentifiable.
    Once you submit the survey, it will be impossible to retract your answer.
    Please do not include any personal identifiable information in your responses.
    <br />
    Personal details will be collected only for those who wish to enter the prize draw/request a copy of the final report.
    All personal details will be received separately from the survey data and will be held in confidence.
    This ensures that your answers to the survey questions will not be linked to your identity.
    All identifiable data will be destroyed on 7 November 2020.
  </p>

  <h4>What Will This Project Produce?</h4>
  <p id="project-produces">
    The information from my research will be used in my Honours report and/or academic publications and conferences.
  </p>

  <h4>If You Have Questions, Who Can You Contact?</h4>
  <p id="contact">
    Any questions should be directed to either - emails have already been provided:
  </p>
  <div id="student" class="d-inline-block">
    <h6>Student</h6>
    <p class="font-weight-bold d-inline-block">Name:</p> Philip Oliver
  </div>
  <div id="supervisor" class="d-inline-block ml-5">
    <h6>Supervisor</h6>
    <p class="font-weight-bold d-inline-block">Name:</p> David J. Pearce
  </div>

  <h4>Disclaimer</h4>
  <p id="disclaimer">
  <p class="font-weight-bold">
    By continuing, you agree to the above information and are giving consent for us to use your responses in this research.
  </p>

  <div class="form-check d-block">
    <input id="agree" class="form-check-input" type="checkbox" (change)="checkboxChange($event)" [defaultChecked]="false" />
    <label for="agree" class="form-check-label">I Agree</label>
  </div>

  <button id="submit" class="btn btn-primary mt-3" (click)="continue()" [disabled]="!checkbox">Continue</button>
</div>
