#console-group {
  margin: auto;
}

#editor-container {
  margin: auto;
  display: flex;
  height: 80vh;
}

#control-group {
  margin: auto;
  margin-top: 2em;
  width: 75vw;
}

#editor {
  height: 50vh;
  width: 75vw;
  margin: auto;
}
